/* CSS Document */
#negizgi
{
	background-color:#5e860a; /* бул раманын ичиндеги фондун тусу */
	height: 790px; /* бул рамканын бийиктиги */
	width: 900px; /* бул рамканын узундугу */
	margin-top: 25px; /* бул браузердин ылдый жагынан рамкага 25 пиксил аралыш ташташ учун */
	margin-right: auto; /* бул браузердин борборуна он жагынан  алып келиш учун*/
	margin-bottom: 25px; /* бул браузердин ойдо жагынан рамкага 25 пиксил аралыш ташташ учун */
	margin-left: auto; /* бул браузердин борборуна сол жагынан  алып келиш учун*/
	Border: 1px solid #CCC; /* бул рамканын калындыгы жана тусу учун */
}

#shapka /* бул шапка рамкасына колдонулган див тегинин атирибутуна берилген ысым */
{
    height: 150px; /* бул рамканын бийиктиги */
    width: 900px; /* бул рамканын узундугу */
}

#shap
{
    width: 900px;
    height: 150px;
}

#menu /* бул меню рамкасына колдонулган див тегинин атирибутуна берилген ысым */
{
    height: 40px; /* бул рамканын бийиктиги */
    width: 900px; /* бул рамканын узундугу */
}

#ul
{
    list-style-type:none;
    margin:3px;
    padding:0;
    overflow:hidden;
}

li
{
    float:left;
}
a:link,a:visited
{
    display:block;
	height:30px;
    width:215px;
    font-weight:bold;
	font-size:25px;
    color:#FFFFFF;
    background-color:#98bf21;
    text-align:center;
    padding:4px;
    text-decoration:none;
    text-transform:uppercase;
}
a:hover,a:active
{
    background-color:#7A991A;
}

#sol_jaktagy_menu /* бул сол меню рамкасына колдонулган див тегинин атирибутуна берилген ысым */
{
     height: 510px; /* бул рамканын бийиктиги */
     width: 130px; /* бул рамканын узундугу */
     float:left; /* бул рамканын сайтын сол жагына коюш учун колдонулган тег */
}

#on_jaktagy_menu /* бул он меню рамкасына колдонулган див тегинин атирибутуна берилген ысым */
{
    height: 510px; /* бул рамканын бийиктиги */
    width: 770px; /* бул рамканын узундугу */
    float:none; /* бул рамканын сайтын он жагына коюш учун колдонулган тег */
}


#astyndagy_menu /* бул астындагы меню рамкасына колдонулган див тегинин атирибутуна берилген ысым */
{
	width: 900px; /* бул рамканын узундугу */
	height: 50px; /* бул рамканын бийиктиги */
	background-color:#98bf21;
	
}

#jazuu1
{
    font-size: 35px;
    text-align:center;
    color:#FFFFFF;
	
}

#jazuu2
{
    font-family:"Times New Roman", Times, serif; /* бул жузуу ушул уч турдуу аритерде гана  жазылсын деген */
    text-align:justify;
    font-size:16px;  /* бул жузуу чондугу(размери) 12 пикселден ашпасын дегенди билдирет */
    margin: 7px; /* бул жузуу  рамкадан 7 пикселден алыш кылыш учун  ич жагына карай*/
	width: 850px; /* бул рамканын узундугу */
}

#jazuu3
{
    font-size: 15px;
    text-align:center;
    color:#FFFFFF;
}

#baner
{
    margin: 10px; /* бул суротту  рамкадан 10 пикселден алыш кылыш учун ылдыйдан ойдону карай */
}

#table1, th, td
{ /* Таблитца тузуу учун, таблицанын башындагы темасы жазылчыы жер учун, таблицага маалмат киргизиш учун колдонуучу тегтер */
border:2px solid #cccccc; /* Таблитцанын рамкасынын тусу кана рамканын калындыгы */
text-align:center; /* Таблитцадагы текстерди ортого жылдыруу учун */
margin: 10px; /* Таблитцаны рамкадан 10пиклел алыстатыш учун*/
font-family:Arial, Helvetica, sans-serif; /* Таблитцадагы ариптери ушушл 3 ариптен озгорбошу учун*/
font-size: 16px;  /* Таблитцадагы ариптеричондугу 16 пикселден ашпашы учун */
font-style: strong;  /* Таблитцадагы ариптеринн калындыгы учун*/
color:#FFFFFF;

}
#table1
{
width: 630px; /* Таблитцадагы турасы учун*/
border-collapse: collapse; /* Таблитцанын рамкасын бирдей кылыш учун*/
}
th, td{
height: 50px; /* Таблитцадагы ичейкалардын чондугу учун*/
}
th{
background-color: #FFFECC; /*таблицанын башындагы темасынын фонунун тусу чуун*/
}
#baner1
{
height: 305 px;
width: 500px;
}






